# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# VS Code
.vscode/

# Misc
*.log
.DS_Store
response_*.json
